:root {
    --grey-900: #141414;
    --grey-800: #1f1f1f;
    --grey-700: #333333;
    --green: #c4f82a;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: var(--grey-900);
}

.text-preset-1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-2-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    gap: 24px;
    background-color: var(--grey-800);
    width: 327px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 12px;
}

.card img.avatar {
    width: 88px;
    height: 88px;
    display: block;
    border-radius: 999px;
}

.card .links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.card .links a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: var(--grey-700);
    text-align: center;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card .links a:hover {
    background-color: var(--green);
    color: var(--grey-700);
}

.namelocation {
    height: 61px;
    text-align: center;
}

.namelocation h3 {
    color: var(--green);
}

@media (min-width: 768px) {
    .card {
        padding: 40px;
        width: 384px;
    }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}